.idea
cmake-build-debug
build
.vscode
.build/

# temp build files
third_party/setup_env.sh
third_party/build_third_party.sh
third_party/Dockerfile

# build directory
debug-build
release-build
cmake-build-release
third_party/libcore/third_party/libcgroup/src/tools/.dirstamp
third_party/libcore/third_party/libcgroup/build-aux/ar-lib
third_party/libcore/third_party/libcgroup/build-aux/compile
third_party/hwloc/contrib/completion/test-bash-completion.sh
third_party/libcore/third_party/libcgroup/build-aux/test-driver